In [1]:
# modules
import numpy as np
import pandas as pd

In [2]:
# read csv 1
schools_df = pd.read_csv("../raw_data/schools_complete.csv")
# rename column
schools_df.rename(columns={"name":"School Name"}, inplace=True)

# sample school data table
schools_df.head()

   School ID            School Name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [3]:
# snapshot school data cleanliness
schools_df.count()

School ID      15
School Name    15
type           15
size           15
budget         15
dtype: int64

In [4]:
# read csv 
students_df = pd.read_csv("../raw_data/students_complete.csv")
# rename column
students_df.rename(columns={"name":"Student Name", "school":"School Name"}, inplace=True)

# sample students data table
students_df.head()

,Student ID,Student Name,gender,grade,School Name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [5]:
# snapshot students data cleanliness
students_df.count()

Student ID       39170
Student Name     39170
gender           39170
grade            39170
School Name      39170
reading_score    39170
math_score       39170
dtype: int64

In [6]:
# source data for district summary - table one
# define Total Schools
total_schools = schools_df["School ID"].count()
total_schools

15

In [7]:
# source data for district summary - table one
# define Total Students
total_students = students_df["Student ID"].count()
total_students

39170

In [8]:
# source data for district summary - table one
# define Total Budget
total_budget = schools_df["budget"].sum()
total_budget

24649428

In [9]:
# source data for district summary - table one
# define Avg. Math
avg_math = students_df["math_score"].mean()
avg_math

78.98537145774827

In [10]:
# source data for district summary - table one
# define Avg. Reading
avg_reading = students_df["reading_score"].mean()
avg_reading

81.87784018381414

In [11]:
# source data for district summary - table one
# define % Pass Math
mpass = (students_df[students_df["math_score"]>=60].count())
per_mpass = (mpass["math_score"]/total_students)*100
per_mpass

92.445749297932096

In [12]:
# source data for district summary - table one
# define % Pass Reading
rpass = (students_df[students_df["reading_score"]>=60].count())
per_rpass = (rpass["reading_score"]/total_students)*100
per_rpass

100.0

In [13]:
# source data for district summary - table one
# define Dist. Pass Rate
opass = (per_mpass+per_rpass)/2
opass

96.222874648966041

In [14]:
# make district summary - table one
dist_summary = pd.DataFrame({"Total Schools": [total_schools], "Total Students": [total_students], 
             "Total Budget": [total_budget], "Avg. Math Score": [avg_math], 
             "Avg. Reading Score": [avg_reading], "% Pass Math": [per_mpass], 
             "% Pass Reading": [per_rpass], "District Pass Rate": [opass]})
#cols1 = dist_summary.columns.tolist()
#cols1
dist_summary = dist_summary[['Total Schools', 'Total Students', 'Total Budget', 'Avg. Math Score', 
                             'Avg. Reading Score', '% Pass Math', '% Pass Reading', 'District Pass Rate']]
# format student and budget columns
dist_summary["Total Students"] = dist_summary["Total Students"].map("{:,}".format)
dist_summary["Total Budget"] = dist_summary["Total Budget"].map("${:.2f}".format)

# show table
dist_summary

,Total Schools,Total Students,Total Budget,Avg. Math Score,Avg. Reading Score,% Pass Math,% Pass Reading,District Pass Rate
0,15,"39,170",$24649428.00,78.985371,81.87784,92.445749,100.0,96.222875

In [15]:
# source data for school summary - table two
merge_df = pd.merge(schools_df, students_df, on="School Name", how="outer")
merge_df.head()

# define School Name 
# define School Type
# define Total School Budget
# define Per Student Budget
# define Average Math Score
# define Average Reading Score
# define % Passing Math
# define % Passing Reading
# define Overall Passing Rate

,School ID,School Name,type,size,budget,Student ID,Student Name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [16]:
# source data for school summary - table two
# define Total Students
stu_count = merge_df["School Name"].value_counts()
#stu_count

In [17]:
stu_count_df = pd.DataFrame(stu_count)
#stu_count_df.rename(columns={"budget":"misc"}, inplace=True)
#stu_count_df

In [91]:
# define Average Math Score
school_mpass = merge_df.groupby("School Name")["math_score"].mean()
school_mpass

School Name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [19]:
school_mpass_df = pd.DataFrame(school_mpass)
#school_mpass_df.head()

In [20]:
# define Average Reading Score
school_rpass = merge_df.groupby("School Name")["reading_score"].mean()
#school_rpass

In [21]:
school_rpass_df = pd.DataFrame(school_rpass)
#school_rpass_df.head()

In [22]:
# define type
school_type = schools_df.groupby("School Name")["type"].describe()

In [23]:
school_type_df = pd.DataFrame(school_type)
#school_type_df

In [24]:
school_type_df2 = school_type_df.drop(["count", "unique", "freq"], axis=1)
school_type_df2.rename(columns={"top":"type"}, inplace=True)
#school_type_df2

In [25]:
# school budget
school_budget = schools_df.groupby("School Name")["budget"].describe()

In [26]:
school_budget_df = pd.DataFrame(school_budget)
#school_budget_df

In [27]:
school_budget_df2 = school_budget_df.drop(["count", "mean", "std", "min", "25%", "50%", "75%"], axis=1)
school_budget_df2.rename(columns={"max":"budget"}, inplace=True)
#school_budget_df2["budget"] = school_budget_df2["budget"].map("${:.2f}".format)
#school_budget_df2

In [28]:
# number of students
school_stu = schools_df.groupby("School Name")["size"].describe()

In [29]:
school_stu_df = pd.DataFrame(school_stu)
school_stu_df
school_stu_df2 = school_stu_df.drop(["count", "mean", "std", "min", "25%", "50%", "75%"], axis=1)
school_stu_df2.rename(columns={"max":"# Students"}, inplace=True)
#school_stu_df2

In [30]:
# seperate out only passing math scores
each_mpass = merge_df.loc[merge_df["math_score"]>=60]
#each_mpass.head()
#per_mpass = (mpass["math_score"]/total_students)*100
#per_mpass

In [31]:
each_mpass = each_mpass.groupby("School Name").count()
each_mpass = each_mpass.drop(["School ID", "type", "size", "budget", "Student ID", "Student Name", 
                              "gender", "grade", "reading_score"], axis=1)
#each_mpass

In [32]:
#each_mpass = (each_mpass["math_score"]/total_students)*100

merge_each_mpass = each_mpass.join(school_stu_df2["# Students"], how="left", sort=False)
#merge_each_mpass

In [33]:
merge_each_mpass["% Pass Math"] = ((merge_each_mpass["math_score"])/(merge_each_mpass["# Students"]))*100
#merge_each_mpass

In [34]:
# seperate out only passing reading scores
each_rpass = merge_df.loc[merge_df["reading_score"]>=60]
#each_rpass.head()

In [35]:
each_rpass = each_rpass.groupby("School Name").count()
each_rpass = each_rpass.drop(["School ID", "type", "size", "budget", "Student ID", "Student Name", 
                              "gender", "grade", "math_score"], axis=1)
#each_rpass

In [36]:
merge_each_rpass = each_rpass.join(school_stu_df2["# Students"], how="left", sort=False)
merge_each_rpass["% Pass Reading"] = ((merge_each_rpass["reading_score"])/(merge_each_rpass["# Students"]))*100

#merge_each_rpass

In [37]:
school_pass = merge_each_rpass.join(merge_each_mpass["math_score"], how="left", sort=False)
#school_pass

In [38]:
school_pass["% Pass Math"] = ((school_pass["math_score"])/(school_pass["# Students"]))*100
#school_pass

In [39]:
school_pass["Pass Rate"] = ((school_pass["% Pass Reading"])+(school_pass["% Pass Math"]))/2
#school_pass

In [40]:
school_summary = school_pass.drop(["reading_score", "math_score"], axis=1)
#school_summary

In [41]:
school_summary = school_summary.join(school_type_df2["type"], how="left", sort=False)
#school_summary

In [42]:
school_summary = school_summary.join(school_budget_df2["budget"], how="left", sort=False)
#school_summary

In [43]:
school_summary["Per Stu Budget"] = ((school_summary["budget"])/(school_summary["# Students"]))
#school_summary

In [44]:
school_summary = school_summary.join(school_rpass_df["reading_score"], how="left", sort=False)
#school_summary

In [45]:
school_summary = school_summary.join(school_mpass_df["math_score"], how="left", sort=False)
#school_summary

In [46]:
# Final School Summary - table two
school_summary.rename(columns={"budget":"Budget", "type":"School Type", 
                               "math_score":"Avg Stu Math Score", 
                               "reading_score":"Avg Stu Reading Score"}, inplace=True)

school_summary = school_summary[["School Type", "# Students", "Budget", "Per Stu Budget", "Avg Stu Math Score", 
                              "% Pass Math", "Avg Stu Reading Score", "% Pass Reading", "Pass Rate"]]

# format student and budget columns
school_summary["Budget"] = school_summary["Budget"].map("${:.2f}".format)
#school_summary["Per Stu Budget"] = school_summary["Per Stu Budget"].map("${:.2f}".format)

school_summary

,School Type,# Students,Budget,Per Stu Budget,Avg Stu Math Score,% Pass Math,Avg Stu Reading Score,% Pass Reading,Pass Rate
School Name,,,,,,,,,
Bailey High School,District,4976.0,$3124928.00,628.0,77.048432,89.529743,81.033963,100.0,94.764871
Cabrera High School,Charter,1858.0,$1081356.00,582.0,83.061895,100.000000,83.975780,100.0,100.000000
Figueroa High School,District,2949.0,$1884411.00,639.0,76.711767,88.436758,81.158020,100.0,94.218379
Ford High School,District,2739.0,$1763916.00,644.0,77.102592,89.302665,80.746258,100.0,94.651333
Griffin High School,Charter,1468.0,$917500.00,625.0,83.351499,100.000000,83.816757,100.0,100.000000
Hernandez High School,District,4635.0,$3022020.00,652.0,77.289752,89.083064,80.934412,100.0,94.541532
Holden High School,Charter,427.0,$248087.00,581.0,83.803279,100.000000,83.814988,100.0,100.000000
Huang High School,District,2917.0,$1910635.00,655.0,76.629414,88.858416,81.182722,100.0,94.429208
Johnson High School,District,4761.0,$3094650.00,650.0,77.072464,89.182945,80.966394,100.0,94.591472
Pena High School,Charter,962.0,$585858.00,609.0,83.839917,100.000000,84.044699,100.0,100.000000
Rodriguez High School,District,3999.0,$2547363.00,637.0,76.842711,88.547137,80.744686,100.0,94.273568
Shelton High School,Charter,1761.0,$1056600.00,600.0,83.359455,100.000000,83.725724,100.0,100.000000
Thomas High School,Charter,1635.0,$1043130.00,638.0,83.418349,100.000000,83.848930,100.0,100.000000
Wilson High School,Charter,2283.0,$1319574.00,578.0,83.274201,100.000000,83.989488,100.0,100.000000
Wright High School,Charter,1800.0,$1049400.00,583.0,83.682222,100.000000,83.955000,100.0,100.000000

In [47]:
school_summary.dtypes

School Type               object
# Students               float64
Budget                    object
Per Stu Budget           float64
Avg Stu Math Score       float64
% Pass Math              float64
Avg Stu Reading Score    float64
% Pass Reading           float64
Pass Rate                float64
dtype: object

In [48]:
# Top Performing Schools (pass rate) - table three
top_school_summary = school_summary.sort_values(["Pass Rate","Avg Stu Math Score"], ascending=False)
top_school_summary.head()
# 6 schools have 100% pass rate, so Avg Stu Math Score is used as secondary condition

,School Type,# Students,Budget,Per Stu Budget,Avg Stu Math Score,% Pass Math,Avg Stu Reading Score,% Pass Reading,Pass Rate
School Name,,,,,,,,,
Pena High School,Charter,962.0,$585858.00,609.0,83.839917,100.0,84.044699,100.0,100.0
Holden High School,Charter,427.0,$248087.00,581.0,83.803279,100.0,83.814988,100.0,100.0
Wright High School,Charter,1800.0,$1049400.00,583.0,83.682222,100.0,83.955000,100.0,100.0
Thomas High School,Charter,1635.0,$1043130.00,638.0,83.418349,100.0,83.848930,100.0,100.0
Shelton High School,Charter,1761.0,$1056600.00,600.0,83.359455,100.0,83.725724,100.0,100.0

In [49]:
# Bottom Performing Schools (pass rate) - table four
bottom_school_summary = school_summary.sort_values(["Pass Rate","Avg Stu Math Score"], ascending=True)
bottom_school_summary.head()

,School Type,# Students,Budget,Per Stu Budget,Avg Stu Math Score,% Pass Math,Avg Stu Reading Score,% Pass Reading,Pass Rate
School Name,,,,,,,,,
Figueroa High School,District,2949.0,$1884411.00,639.0,76.711767,88.436758,81.158020,100.0,94.218379
Rodriguez High School,District,3999.0,$2547363.00,637.0,76.842711,88.547137,80.744686,100.0,94.273568
Huang High School,District,2917.0,$1910635.00,655.0,76.629414,88.858416,81.182722,100.0,94.429208
Hernandez High School,District,4635.0,$3022020.00,652.0,77.289752,89.083064,80.934412,100.0,94.541532
Johnson High School,District,4761.0,$3094650.00,650.0,77.072464,89.182945,80.966394,100.0,94.591472

In [50]:
# start scores by grade level by school
# drop excess columns from merge_df
merge_grades = merge_df.drop(["type", "size", "budget", "Student ID", "Student Name", "gender", 
                              "School ID"], axis=1)
#merge_grades.head()

In [51]:
nine_df = merge_grades.loc[merge_grades["grade"] == "9th",:]

nine_df2 = nine_df.groupby("School Name").describe()

#nine_df2.head()

In [52]:
#nine_df3 = nine_df2.drop(["count", "std", "min", "25%", "50%", "75%", 
#                              "max"], axis=1)
nine_df3 = nine_df2.iloc[:,[1, 9]]
#nine_df3.head()

In [53]:
nine_df3["9th Math Avg"] = nine_df3[("math_score", "mean")]
nine_df3["9th Reading Avg"] = nine_df3[("reading_score", "mean")]
#nine_df3.head()

C:\Users\brbal\AppData\Local\conda\conda\envs\PythonData\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\brbal\AppData\Local\conda\conda\envs\PythonData\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [54]:
nine_df4 = nine_df3.iloc[:,[2, 3]]
#nine_df4.head()

In [55]:
ten_df = merge_grades.loc[merge_grades["grade"] == "10th",:]

ten_df2 = ten_df.groupby("School Name").describe()

#ten_df2.head()

In [56]:
ten_df3 = ten_df2.iloc[:,[1, 9]]
#ten_df3.head()

In [57]:
ten_df3["10th Math Avg"] = ten_df3[("math_score", "mean")]
ten_df3["10th Reading Avg"] = ten_df3[("reading_score", "mean")]
#ten_df3.head()

C:\Users\brbal\AppData\Local\conda\conda\envs\PythonData\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\brbal\AppData\Local\conda\conda\envs\PythonData\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [58]:
ten_df4 = ten_df3.iloc[:,[2, 3]]
#ten_df4.head()

In [59]:
eleven_df = merge_grades.loc[merge_grades["grade"] == "11th",:]

eleven_df2 = eleven_df.groupby("School Name").describe()

#eleven_df2.head()

In [60]:
eleven_df3 = eleven_df2.iloc[:,[1, 9]]
#eleven_df3.head()

In [61]:
eleven_df3["11th Math Avg"] = eleven_df3[("math_score", "mean")]
eleven_df3["11th Reading Avg"] = eleven_df3[("reading_score", "mean")]
#eleven_df3.head()

C:\Users\brbal\AppData\Local\conda\conda\envs\PythonData\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\brbal\AppData\Local\conda\conda\envs\PythonData\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [62]:
eleven_df4 = eleven_df3.iloc[:,[2, 3]]
#eleven_df4.head()

In [63]:
twelve_df = merge_grades.loc[merge_grades["grade"] == "12th",:]

twelve_df2 = twelve_df.groupby("School Name").describe()

#twelve_df2.head()

In [64]:
twelve_df3 = twelve_df2.iloc[:,[1, 9]]
#twelve_df3.head()

In [65]:
twelve_df3["12th Math Avg"] = twelve_df3[("math_score", "mean")]
twelve_df3["12th Reading Avg"] = twelve_df3[("reading_score", "mean")]
#twelve_df3.head()

C:\Users\brbal\AppData\Local\conda\conda\envs\PythonData\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\brbal\AppData\Local\conda\conda\envs\PythonData\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [66]:
twelve_df4 = twelve_df3.iloc[:,[2, 3]]
#twelve_df4.head()

In [67]:
grade_math_school = nine_df3.iloc[:,[2]]
#grade_math_school.head()

In [68]:
grade_math_school = grade_math_school.join(ten_df3["10th Math Avg"], how="left", sort=False)
#grade_math_school.head()

C:\Users\brbal\AppData\Local\conda\conda\envs\PythonData\lib\site-packages\pandas\core\reshape\merge.py:551: UserWarning: merging between different levels can give an unintended result (2 levels on the left, 1 on the right)
  warnings.warn(msg, UserWarning)

In [69]:
grade_math_school = grade_math_school.join(eleven_df3["11th Math Avg"], how="left", sort=False)
#grade_math_school.head()

In [70]:
grade_math_school = grade_math_school.join(twelve_df3["12th Math Avg"], how="left", sort=False)
#grade_math_school.head()

In [71]:
# rename 9th to match format
# final Math per Grade by School - table five
grade_math_school.rename(columns={('9th Math Avg', ''):'9th Math Avg'}, inplace=True)
grade_math_school.head()

,9th Math Avg,10th Math Avg,11th Math Avg,12th Math Avg
School Name,,,,
Bailey High School,77.083676,76.996772,77.515588,76.492218
Cabrera High School,83.094697,83.154506,82.765560,83.277487
Figueroa High School,76.403037,76.539974,76.884344,77.151369
Ford High School,77.361345,77.672316,76.918058,76.179963
Griffin High School,82.044010,84.229064,83.842105,83.356164

In [72]:
grade_reading_school = nine_df3.iloc[:,[3]]
#grade_reading_school.head()

In [73]:
grade_reading_school = grade_reading_school.join(ten_df3["10th Reading Avg"], how="left", sort=False)
#grade_reading_school.head()

C:\Users\brbal\AppData\Local\conda\conda\envs\PythonData\lib\site-packages\pandas\core\reshape\merge.py:551: UserWarning: merging between different levels can give an unintended result (2 levels on the left, 1 on the right)
  warnings.warn(msg, UserWarning)

In [74]:
grade_reading_school = grade_reading_school.join(eleven_df3["11th Reading Avg"], how="left", sort=False)
#grade_reading_school.head()

In [75]:
grade_reading_school = grade_reading_school.join(twelve_df3["12th Reading Avg"], how="left", sort=False)
#grade_reading_school.head()

In [76]:
list(grade_reading_school)

[('9th Reading Avg', ''),
 '10th Reading Avg',
 '11th Reading Avg',
 '12th Reading Avg']

In [77]:
# rename 9th to match format
# final Reading per Grade by School - table six
grade_reading_school.rename(columns={('9th Reading Avg', ''):'9th Reading Avg'}, inplace=True)
grade_reading_school.head()

,9th Reading Avg,10th Reading Avg,11th Reading Avg,12th Reading Avg
School Name,,,,
Bailey High School,81.303155,80.907183,80.945643,80.912451
Cabrera High School,83.676136,84.253219,83.788382,84.287958
Figueroa High School,81.198598,81.408912,80.640339,81.384863
Ford High School,80.632653,81.262712,80.403642,80.662338
Griffin High School,83.369193,83.706897,84.288089,84.013699

In [78]:
# create scores (pass rate) by school spending per stu
school_perstu = school_summary.iloc[:,[3,4,5,6,7,8]]
school_perstu.head()

,Per Stu Budget,Avg Stu Math Score,% Pass Math,Avg Stu Reading Score,% Pass Reading,Pass Rate
School Name,,,,,,
Bailey High School,628.0,77.048432,89.529743,81.033963,100.0,94.764871
Cabrera High School,582.0,83.061895,100.000000,83.975780,100.0,100.000000
Figueroa High School,639.0,76.711767,88.436758,81.158020,100.0,94.218379
Ford High School,644.0,77.102592,89.302665,80.746258,100.0,94.651333
Griffin High School,625.0,83.351499,100.000000,83.816757,100.0,100.000000

In [79]:
#school_perstu["Per Stu Budget"] = pd.to_numeric(school_perstu["Per Stu Budget"])
school_perstu.dtypes

Per Stu Budget           float64
Avg Stu Math Score       float64
% Pass Math              float64
Avg Stu Reading Score    float64
% Pass Reading           float64
Pass Rate                float64
dtype: object

In [80]:
# create bin and bin names
bins = [0, 585, 615, 645, 675]

group_names = ["<$585", "$585-$615", "$615-$645", "$645-$675"]

In [81]:
pd.cut(school_perstu["Per Stu Budget"], bins, labels=group_names)

School Name
Bailey High School       $615-$645
Cabrera High School          <$585
Figueroa High School     $615-$645
Ford High School         $615-$645
Griffin High School      $615-$645
Hernandez High School    $645-$675
Holden High School           <$585
Huang High School        $645-$675
Johnson High School      $645-$675
Pena High School         $585-$615
Rodriguez High School    $615-$645
Shelton High School      $585-$615
Thomas High School       $615-$645
Wilson High School           <$585
Wright High School           <$585
Name: Per Stu Budget, dtype: category
Categories (4, object): [<$585 < $585-$615 < $615-$645 < $645-$675]

In [82]:
school_perstu["Est Per Stu Spending"] = pd.cut(school_perstu["Per Stu Budget"], bins, labels=group_names)
#school_perstu.head()

C:\Users\brbal\AppData\Local\conda\conda\envs\PythonData\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [83]:
# Score summary based on school per student budget - table seven
school_spending = school_perstu.groupby("Est Per Stu Spending")
school_spending.mean()

,Per Stu Budget,Avg Stu Math Score,% Pass Math,Avg Stu Reading Score,% Pass Reading,Pass Rate
Est Per Stu Spending,,,,,,
<$585,581.000000,83.455399,100.000000,83.933814,100.0,100.000000
$585-$615,604.500000,83.599686,100.000000,83.885211,100.0,100.000000
$615-$645,635.166667,79.079225,92.636050,81.891436,100.0,96.318025
$645-$675,652.333333,76.997210,89.041475,81.027843,100.0,94.520737

In [84]:
# create scores (pass rate) by school size
school_size = school_summary.iloc[:,[1, 4, 5, 6, 7, 8]]
school_size.head()

,# Students,Avg Stu Math Score,% Pass Math,Avg Stu Reading Score,% Pass Reading,Pass Rate
School Name,,,,,,
Bailey High School,4976.0,77.048432,89.529743,81.033963,100.0,94.764871
Cabrera High School,1858.0,83.061895,100.000000,83.975780,100.0,100.000000
Figueroa High School,2949.0,76.711767,88.436758,81.158020,100.0,94.218379
Ford High School,2739.0,77.102592,89.302665,80.746258,100.0,94.651333
Griffin High School,1468.0,83.351499,100.000000,83.816757,100.0,100.000000

In [85]:
# create bin and bin names
bins2 = [0, 1000, 2000, 5000]

group_names2 = ["Small(<1000 stu)", "Medium (1000-2000 stu)", "Large (2000-5000 stu)"]

In [86]:
pd.cut(school_size["# Students"], bins2, labels=group_names2)

School Name
Bailey High School        Large (2000-5000 stu)
Cabrera High School      Medium (1000-2000 stu)
Figueroa High School      Large (2000-5000 stu)
Ford High School          Large (2000-5000 stu)
Griffin High School      Medium (1000-2000 stu)
Hernandez High School     Large (2000-5000 stu)
Holden High School             Small(<1000 stu)
Huang High School         Large (2000-5000 stu)
Johnson High School       Large (2000-5000 stu)
Pena High School               Small(<1000 stu)
Rodriguez High School     Large (2000-5000 stu)
Shelton High School      Medium (1000-2000 stu)
Thomas High School       Medium (1000-2000 stu)
Wilson High School        Large (2000-5000 stu)
Wright High School       Medium (1000-2000 stu)
Name: # Students, dtype: category
Categories (3, object): [Small(<1000 stu) < Medium (1000-2000 stu) < Large (2000-5000 stu)]

In [87]:
school_size["School Size"] = pd.cut(school_size["# Students"], bins2, labels=group_names2)
#school_size.head()

C:\Users\brbal\AppData\Local\conda\conda\envs\PythonData\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [88]:
# Score summary based on school size - table eight
school_size_df = school_size.groupby("School Size")
school_size_df.mean()

,# Students,Avg Stu Math Score,% Pass Math,Avg Stu Reading Score,% Pass Reading,Pass Rate
School Size,,,,,,
Small(<1000 stu),694.500,83.821598,100.000000,83.929843,100.0,100.000000
Medium (1000-2000 stu),1704.400,83.374684,100.000000,83.864438,100.0,100.000000
Large (2000-5000 stu),3657.375,77.746417,90.367591,81.344493,100.0,95.183795

In [89]:
# create scores (pass rate) by school type
school_type = school_summary.iloc[:,[0, 4, 5, 6, 7, 8]]
#school_type.head()

In [90]:
# Score summary based on school type - table eight
school_type_df = school_type.groupby("School Type")
school_type_df.mean()

,Avg Stu Math Score,% Pass Math,Avg Stu Reading Score,% Pass Reading,Pass Rate
School Type,,,,,
Charter,83.473852,100.000000,83.896421,100.0,100.000000
District,76.956733,88.991533,80.966636,100.0,94.495766